﻿@{
    ViewData["Title"] = "Contact";
}

<div>
    <div class="wrapper">
        <div class="box a">
            <div>
                <img id="pic" width="200" height="200" src="~/images/foto.jpg"> </img>
            </div>
        </div>

        <div class="box b">
            <center>Angel Rodrigo Zea Arenales</center>
        </div>
        
        <div class="box c">
           <dl>
            <form action="/Home/Index" method="post">
                <label for="email">Email</label><br>
                <input placeholder="Insert your email" type="text" id="email" name="email" value=""><br>

                <label for="name">Name</label><br>
                <input placeholder="Insert your name" type="text" id="name" name="name" value=""><br>
    
                <label for="comment">Comment</label><br>
                <textarea rows="4" cols="30" type="comment" id="comment" name="comment">
                Insert a comment here
                </textarea><br>

                <input type="submit">
                <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>">
                </form>  
            </dl>
        </div>
    </div>   


   
</div>>