﻿@{
    ViewData["Title"] = "Home Page";
}


<body>


<div hidden>
    <script type="text/javascript">
    function res() {
         console.log("La resolucion del dispositivo es: " + screen.width + ', ' + screen.height); 
         }
       

    function detect(){ 
    
    var isMobile = window.matchMedia("only screen and (max-width: 480px)");
    var isTablet = window.matchMedia("only screen and (max-width: 768px)");
    var isDesktop = window.matchMedia("only screen and (max-width: 1600px)");

    if (isMobile.matches) {
        //window.alert("its a mobile");
        console.log("es un movil");
    }else if (isTablet.matches) { 
        console.log("es una tablet");
    }else if (isDesktop.matches){ 
        console.log("es un desktop");
    }

    } 
    
    res();
    detect();   
</script>

</div>

<div class="wrapper">
        <div class="box a">
            <div> <!--<div class="gradient">--> 
                 <center><img id="pic" width="200" height="200" src="~/images/foto.jpg"> </img></center>
            </div>
        </div>

        <div class="box b">
            <center>Angel Rodrigo Zea Arenales</center>
        </div>
        
        <div class="box c">
           <dl>
            <dd class="clear"></dd>
            
            <dt>Education</dt>
            <dd>
                <p>Colegio Montano - Campus Mixco - Computer Bachelor's Degree</p>
                <p>Universidad del Valle de Guatemala - Computer Science</p>
            </dd>
            
            <dd class="clear"></dd>
            <hr>

            <dt>Skills</dt>
            <dd>
                <b>Computer skills</b>
                <p>Knowledge on the Microsoft Office Suite, Adobe Photoshop & Illustrator</p>

                <b>Programming languages</b>
                <p>Java, Python, HTML, CSS</p>
            </dd>
            
            
        </dl>
        </div>
    </div>   

</body>

