﻿* {
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(246,246,246);
}

.navbar { 
    background-color: rgb(44, 46, 62);
    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



.clear { 
    clear: both;
}

#pic {
    float: right;
    margin-left: auto;
    margin-right: auto;
     margin: 10px 0 0 0;
     border-radius: 50%;
}

#page-wrap { 
    width: 800px; 
    margin: 40px auto 60px; 
    
}

.container { 
    font-family: 'Segoe UI';
}

.gradient {
    max-width: 100%; 
    width: 800px;
    margin: auto;
    
  }
  
  .gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.678) 80%);
    height: 250px;
    width: 100%;
    content: '';
  }

.wrapper { 
    display: grid;
    grid-gap: 10px;
    grid-template-columns:  repeat(6, 125px);
    grid-template-rows: repeat( 4, 125px);
    background-color: rgb(246,246,246);
    color: #444;
    font-family: 'Segoe UI';

}

    .box {
        color: rgb(0, 0, 0);
        /*background-color: rgb(167, 47, 47);*/
        background-color: rgb(246,246,246);
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
    }

        .a { 
            
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            align-self: stretch;
        }

        .b {
            color: rgb(255, 255, 255);
            /*background-color: rgb(47, 129, 167);*/
            /*background: linear-gradient(to right, rgba(46, 49, 146,1), rgba(27,255,255,1));*/
            background: #EE2B47;
            grid-column: 3 / 7;
            grid-row:  1 / 2;
            align-self: end;
            
            font-family: 'Bebas Neue';
            font-size: 200%;
            letter-spacing: 1px;
            text-shadow: 2px 2px #00000020;
        }

        .c { 
            grid-column: 3 / 7;
            grid-row: 2/4;
            font-size: 100%;
        }

[class*="box"] {
        float: left;
        padding: 20px;
}

/* DIFERENTES RESOLUCIONES */
@media only screen and (max-width: 480px) {
    [class*="box"] {
        float: left;
        padding: 15px;
    }
    
    .wrapper { 
        display: grid;
        grid-gap: 7px;
        grid-template-columns:  repeat(10, 117px);
        grid-template-rows: repeat(6, 117px);
        background-color: rgb(246,246,246);
        color: #444;
        font-family: 'Segoe UI';
    
    }
    
        .box {
            color: rgb(0, 0, 0);
            /*background-color: rgb(167, 47, 47);*/
            background-color: rgb(246,246,246);
            border-radius: 5px;
            padding: 20px;
            font-size: 150%;
        }
    
            .a { 
                
                grid-column: 3 / 4;
                grid-row: 1 / 3;
                align-self: stretch;
            }
    
            .b {
                color: rgb(255, 255, 255);
                /*background-color: rgb(47, 129, 167);*/
                /*background: linear-gradient(to right, rgba(46, 49, 146,1), rgba(27,255,255,1));*/
                background:  #EE2B47;
                grid-column: 1 / 5;
                grid-row:  3 / 4;
                align-self: start;
                
                font-family: 'Bebas Neue';
                font-size: 200%;
                letter-spacing: 1px;
                text-shadow: 2px 2px #00000020;
            }
    
            .c { 
                grid-column: 1 / 5;
                color: #2C2E3E;
                grid-row: 4/6;
                font-size: 100%;
            }
    

}

@media only screen and (max-width: 670px) and (min-width: 481px) {
    [class*="box"] {
        float: left;
        padding: 15px;
    }
    
    .wrapper { 
        display: grid;
        grid-gap: 7px;
        grid-template-columns:  repeat(10, 110px);
        grid-template-rows: repeat(6, 110px);
        background-color: rgb(246,246,246);
        color: #444;
        font-family: 'Segoe UI';
    
    }
    
        .box {
            color: rgb(0, 0, 0);
            
            /*background-color: rgb(167, 47, 47);*/
            background-color: rgb(246,246,246);
            border-radius: 5px;
            padding: 20px;
            font-size: 150%;
        }
    
            .a { 
                
                grid-column: 1 / 4;
                grid-row: 1 / 3;
                align-self: stretch;
            }
    
            .b {
                color: rgb(255, 255, 255);
                /*background-color: rgb(47, 129, 167);*/
                /*background: linear-gradient(to right, rgba(46, 49, 146,1), rgba(27,255,255,1));*/
                background:  #EE2B47;
                grid-column: 1 / 5;
                grid-row:  3 / 4;
                align-self: start;
                
                font-family: 'Bebas Neue';
                font-size: 200%;
                letter-spacing: 1px;
                text-shadow: 2px 2px #00000020;
            }
    
            .c { 
                grid-column: 1 / 5;
                color: #2C2E3E;
                grid-row: 4/6;
                font-size: 100%;
            }
    
}

@media only screen and (max-width: 600px) {
    [class*="box"] {
        float: left;
        padding: 15px;
    }
    
}

@media only screen and (max-width: 768px) and (min-width: 671px) {
    .wrapper { 
        display: grid;
        grid-gap: 10px;
        grid-template-columns:  repeat(10, 110px);
        grid-template-rows: repeat(5, 125px);
        background-color: rgb(246,246,246);
        color: #444;
        font-family: 'Segoe UI';
    
    }
    
        .box {
            color: rgb(0, 0, 0);
            /*background-color: rgb(167, 47, 47);*/
            background-color: rgb(246,246,246);
            border-radius: 5px;
            padding: 20px;
            font-size: 150%;
        }
    
            .a { 
                
                grid-column: 4 / 5;
                grid-row: 1 / 3;
                align-self: stretch;
            }
    
            .b {
                color: rgb(255, 255, 255);
                /*background-color: rgb(47, 129, 167);*/
                /*background: linear-gradient(to right, rgba(46, 49, 146,1), rgba(27,255,255,1));*/
                background:  #EE2B47;
                grid-column: 2 / 6;
                grid-row:  3 / 4;
                align-self: start;
                
                font-family: 'Bebas Neue';
                font-size: 200%;
                letter-spacing: 1px;
                text-shadow: 2px 2px #00000020;
            }
    
            .c { 
                grid-column: 2 / 6;
                color: #2C2E3E;
                grid-row: 4/6;
                font-size: 100%;
            }
    
}

@media only screen and (max-width: 1024px) {
    [class*="box"] {
        float: left;
        padding: 15px;
    }
    
}

@media only screen and (max-width: 1280px) {
    [class*="box"] {
        width: 100%;
        float: left;
        padding: 15px;
    }
    
}

@media only screen and (max-width: 1400px) {
    [class*="box"] {
        width: 100%;
        float: left;
        padding: 15px;
    }
    
}
        